@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 29px;
    }
    &__list-link{
        @extend %quicksand-400;
        padding: 0 3px 8px;
        color: $title;
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover{
            @extend %quicksand-500;
            border-bottom: 1px solid $accent;
            color: $accent;
        }
    }
    &__list-link--active{
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %quicksand-500;
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        padding-left: 25px;
    }
    &__num{
        position: absolute;
        top: -9px;
        right: -12px;
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: $accent;
        color: white;
    }
}

.footer{
    background-color: $bg;
}

.footer-top{
    display: flex;
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    &__logo{
        margin-bottom: 35px;
    }
    &__title{
        @extend %roboto-700;
        font-size: 22px;
        color: $title;
        margin-bottom: 40px;
    }
    &__adress,
    &__email,
    &__phone{
        font-size: 16px;
        color: $def;
        margin-bottom: 14px;
        display: block;
    }
    &__contact{
        width: 255px;
        margin-right: 45px;
    }
    &__social{
        width: 170px;
        margin-right: 30px;
    }
    &__subscribe{
        width: 470px;
    }
    &__link{
        margin-bottom: 14px;
        display: block;
    }
    &__icons{
        display: flex;
        margin-top: 30px;
    }
    &__icon{
        path {
            fill: $def;
            transition: all 0.3s;
        }
        
        &:hover {
            path {
                fill: $accent;
            }
        }
    }
    &__icon + .footer-top__icon{
        margin-left: 20px;
    }
    &__text{
        margin-bottom: 25px;
    }
    &__form-input{
        border: none;
        padding: 12px 10px 12px 15px;
        background-color: #fff;
        max-width: 320px;
        width: 100%;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        &::placeholder {
            color: $def;
            font-size: 16px;
        }
    }
    &__form-btn{
        max-width: 140px;
        background-color: $accent;
        color: #fff;
        border: none;
        padding: 12px 26px;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 5px;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    &__accept{
        display: flex;
        align-items: center;
    }
    &__accept-link{
        margin-left: 25px;
    }

}


@import 'media';